/*
  Paper & Info
*/
.paper {
  .paper-padding(){
    background: #fafafa;
    padding: 5px 10px;
  }

  .info() {
    *zoom: 1;
    color: #949494;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    .paper-padding;

    .name {
      float: left;
    }

    .name strong {
      color: #2c596d;
      margin-right: 10px;
    }

    .time {
      float: right;
    }

    .content {
      background: #fafafa;
      padding: 5px 10px;
      .paper-padding;
    }

    &:after {
      clear: both;
    }

    &:before, &:after {
      display: table;
      content: "";
      line-height: 0;
    }
  }

  .paper-header {
    > .info {
      .info;
    }
  }

  .paper-section {
    > .info {
      .info;
    }
  }
}


/*
  Atlantis Admin
*/


form.admin-edit {
  margin-bottom: 15px;
  position: relative;

  a.item-link {
    position: absolute;
    top: 45px;
    right: 20px;
  }
}