/* line 3, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
.sparkline-box {
  margin: 0;
  padding: 0;
  margin-top: 10px; }
  /* line 6, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
  .sparkline-box.side .sparkline {
    margin-top: 5px; }
  /* line 10, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
  .sparkline-box.side .sparkline-row {
    padding: 0;
    float: none;
    border: none; }
  /* line 16, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
  .sparkline-box.side h4 {
    margin-right: 20px;
    min-width: 70px;
    text-shadow: none; }
    /* line 21, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box.side h4 span {
      color: inherit; }
  /* line 31, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
  .sparkline-box .sparkline {
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
    height: 30px; }
  /* line 38, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
  .sparkline-box .big {
    width: 83px;
    height: 30px; }
  /* line 43, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
  .sparkline-box .sparkline-row {
    *zoom: 1;
    text-align: center;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    border-right: 1px dotted #aaa;
    border-left: 1px dotted #fff; }
    /* line 24, /home/andrei/core-admin-release/core-admin/source/stylesheets/mixin_helpers.scss */
    .sparkline-box .sparkline-row:before, .sparkline-box .sparkline-row:after {
      display: table;
      content: "";
      line-height: 0; }
    /* line 30, /home/andrei/core-admin-release/core-admin/source/stylesheets/mixin_helpers.scss */
    .sparkline-box .sparkline-row:after {
      clear: both; }
    /* line 53, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box .sparkline-row:last-child {
      border-right: none; }
    /* line 57, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box .sparkline-row:first-child {
      border-left: none; }
  /* line 62, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
  .sparkline-box h4 {
    display: inline-block;
    text-align: center;
    margin: 0;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    min-width: 70px; }
    /* line 69, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box h4.red {
      color: #c75d5d; }
    /* line 73, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box h4.orange {
      color: #ff9f01; }
    /* line 77, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box h4.blue {
      color: #6e97aa; }
    /* line 81, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box h4.gray {
      color: #6b787f; }
    /* line 85, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box h4.green {
      color: #8fae53; }
    /* line 89, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box h4.dark-green {
      color: #779148; }
    /* line 93, /home/andrei/core-admin-release/core-admin/source/stylesheets/sparkline_box.scss */
    .sparkline-box h4 span {
      color: #717e88;
      font-size: 12px;
      display: block;
      text-align: center;
      font-weight: normal; }
