/***********************************************************************************************************************
  Variables

***********************************************************************************************************************/
@col-min-size: 30px;
@icon-color: #333333;

/***********************************************************************************************************************
  Mixins

***********************************************************************************************************************/
.i(@sizes){
  //find length to make the stop point
  @stopIndex: length(@sizes);
  @px: "px";

  //set up our LESS loop (recursive)
  .loop (@index) when (@index =< @stopIndex){
      @size: extract(@sizes,@index);

      //print the CSS
      &-@{size} {
        .col-fixed-spec;
        width: ~"@{size}px";
      }

    // next iteration
    .loop(@index + 1);
  }

  // "call" the loopingClass the first time getting first item
  .loop(1);
}


.col-fixed-spec(){
  display: table-cell;
  min-height: @col-min-size;
  vertical-align: top;
  padding: 0 5px;
}

.icon-spec(@icon-size){
  i.fa,i.icon {
    color: @icon-color;
    font-size: ~"@{icon-size}px";  //[i] This is icon size
  }
}

/***********************************************************************************************************************
  Styles

***********************************************************************************************************************/
.col-fixed {
  display: table;
  width: 100%;

  .col-fixed {
    .i(30,60,90,100,200,300,400,500,600;);
  }

  .content {
    display: table-cell;
    min-height: @col-min-size;
    padding: 0 10px;
  }

  .title {
    color: #636364;
    font-weight: 600;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-size: 16px;
  }

  .time {
    color: #bbb;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;

    span {
      display: block;
      font-size: 24px;
      font-weight: 600;
    }
  }

  .no-padding {
    padding: 0;
  }
}