.badge {
  &.badge-primary {
    background-color: #1c7ebb;
  }

  &.badge-success {
    background-color: #23ae89;
  }

  &.badge-info {
    background-color: #2ec1cc;
  }

  &.badge-warning {
    background-color: #ffb61c;
  }

  &.badge-danger {
    background-color: #e94b3b;
  }
}