.panel{
  -webkit-box-shadow: 0 2px 2px -2px #cccccc;
  -moz-box-shadow: 0 2px 2px -2px #cccccc;
  box-shadow: 0 2px 2px -2px #cccccc;
  background: #fbfbfb;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;

  .panel-section {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
    width: 100%;

    &:last-child {
      border-bottom: none; }
  }
}
