@image-shadow-color: #CDCDCD;


.panel-profile {
  border: none;
  .profile {
    margin: 5px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 5px @image-shadow-color, 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 5px @image-shadow-color, 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 5px @image-shadow-color, 0 0 10px 0 rgba(0, 0, 0, 0.2);
    img {
      border-radius: 50%;
    }
  }
  .list-group {
    & > li {
      & > i {
        margin-right: 10px;
        font-size: 16px;
        color: #999999;
        table-layout: fixed;
      }
    }
  }
  .list-justified-container {
    padding: 15px 0;
  }
  ul.list-justified {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0;
    & > li {
      float: none;
      display: table-cell;
      padding: 10px;
      width: 1%;
      border-right: 1px solid #eeeeee;
      p {
        margin: 0;
      }
    }
    & > li:last-child {
      border: none;
    }
  }
}
