* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
}

html {
    min-height: 100%;
}

body {
    font: normal 12px 'Open Sans', HelveticaNeue, Helvetica, Arial;
    min-height: 100%;
    color: #707070;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', HelveticaNeue, Helvetica, Arial;
    line-height: 20px;
}

strong, b {
    font-weight: 600;
}

a {
    color: #78808a;
}

a:hover, a:active, a:focus {
    cursor: pointer;
    outline: 0px none;
    text-decoration: none;
    color: #5a6573;
}

.label {
    font-size: 10px;
    text-shadow: none;
}

i {
    font-size: 14px;
}

.main-content {
    position: relative;
    margin-left: 201px;
    margin-bottom: 60px;
}

.padded {
    padding: 15px;
}

.nopadding {
    padding: 0;
}

.hpadded {
    padding-left: 15px;
    padding-right: 15px;
}

.vpadded {
    padding-top: 15px;
    padding-bottom: 15px;
}

.separate-sections {
    margin: 0;
    list-style: none;
    padding-bottom: 5px;
}


.separate-sections > li, .separate-sections > div {
    margin-bottom: 15px !important;
}


.separate-sections > li:last-child, .separate-sections > div:last-child {
    margin-bottom: 0px;
}


h1, h2, h3, h4, h5, h6, th {
    color: #5f5f5f;
    font-weight: 600;
}


.the-icons {
    list-style: none;
}


.avatar {
    display: inline-block;
}


.avatar img {
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;*/
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}


.avatar-small {
    max-width: 32px;
    max-height: 32px;
}


.twitter-color {
    color: #4099ff;
}


.facebook-color {
    color: #35508F;
}


.note {
    color: #909090;
    font-style: italic;
    font-size: 11px;
    margin-bottom: 10px;
}


.close {
    line-height: 14px;
}


.relative {
    position: relative;
}


.indent {
    margin-left: 10px;
}


.strikethrough {
    text-decoration: line-through;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 100%;
}

.container:before, .container:after {
    content: " ";
    display: table;
    
}

.container:after {
    clear: both; }


.container.wide {
    width: 100%;
    max-width: 100%;
}


.container.padded > .row {
    margin: 0;
}
