html, body {
  height: 100%;
  margin:0;
  padding:0;
  background: url(../../images/bg.png) repeat;
  font: normal 12px 'Open Sans', HelveticaNeue, Helvetica, Arial;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}